.App {
  text-align: center;
}

.cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border: solid black;
}

.card {
  display: flex;
  flex-flow: column nowrap;
  border: solid black;
  margin: 5px;
}

.nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  border: solid black;
}

.hand-cards {
  border: solid black;
  margin: 5px;
}

.main-row {
  display: flex;
  flex-flow: row nowrap;
}




.main-column {
  display: flex;
  flex-flow: row nowrap;
  color: #618685;
  font-size: 15px;
}

.dropdown {
  padding: 20px;
}

.main-alter {
  display: flex;
  flex-flow: row nowrap;
  margin: 10px;
  font-size: 10px;
}

.main-hand {
  width: 20vw;
}

img {
  width: 100px;
  height: auto;    
}

.nav-item {
  padding: 5px;
}


.changing-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;

}

.dropdown-item {
  margin-top: 10px;
  padding: 5px;
}